*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
    
}
body{
    background: #080808;
    color: #fff;
}
#background{
    width: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 0;
    
}
#profilePic{
    background-image: url(images/profilePic.jpg);
    background-size: contain;
    background-position: center;
    /* z-index: 1; */
    height: 25vh;
    width: 25vh;
    border-radius: 75%;
}

.navBar{
    position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2vw;
    

}
.navBar ul{
    list-style-type: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0.625);
    height: fit-content;
    border-radius: 20px;
    
    
}

.navBar a{
    text-decoration: none;
    display: flex;
    color:rgb(166, 43, 43)
    ;
}

.navBar li{
  
    margin: 2vw;
    color:rgb(166, 43, 43)
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 2.5rem;
   color:#080808;
    z-index: 1;
}
#profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding-top: 10%;
}
.sentence{
    display: inline-block;
    font-size: 2.5rem;
    color:rgb(166, 43, 43)
}

#caret{
    display: inline-flex;
    align-items: center;
    justify-content: center;
   font-size: 2.5rem;
    color: black;
    margin-left: 0.1rem;
    animation:blink 0.75s infinite;
    
   
}
@keyframes blink {
    0% {color: black;}
    49% {color: black;}
    50% {color: transparent;}
    99% {color: transparent;}
    100% {color: black;}
}
.buffer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding-bottom: 38vh;
}
.buffer2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding-top: 38vh;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}


  .about-me-container{
    background-color: rgba(58, 56, 56, 0.716);
    background-size: contain;
    display: flexbox;
    
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 40vw;
    padding: 10px;
    font-size: 120%;
    border-radius: 10px;
    font-weight: bolder;
    z-index: 1;
}
@media(max-width: 845px){
  .about-me-container{
    font-size: 100%;
    width:100%;
  }
}
.about-me{
    margin: 0;
    padding: 5px;
}
.example-container{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    overflow: break-word;
    margin-top: 22vh;
    z-index: 1;
}
.right-title-container{
    background-color: rgba(255, 255, 255, 0.549);
    display: flexbox;
    background-size: contain;
    width: fit-content;
    margin-top: 10px;
    margin-right: 12vw;
    margin-bottom: 2vh;
    border-radius: 10px;
}
.right-title{
    padding: 10px;
    color: rgb(166, 43, 43);
}

.examples{
    background-color: rgba(58, 56, 56, 0.716);
    background-size: contain;
    display: flexbox;
    align-items:flex-end;

    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin-right: 5VW;
    font-size: 100%;
    border-radius: 10px;
    font-weight: bolder;
    overflow: break-word;
  
}
#contact{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 1vw;
    z-index: 1;
    
    
}
.contact-info{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 5vw;
    overflow: break-word;
    padding-bottom:300px;
    z-index: 1;
}
.contact-link{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.contact-link:hover{
    color:#080808;
}
.left-title-container{
    background-color: rgba(255, 255, 255, 0.549);
    display: flexbox;
    background-size: contain;
    width: fit-content;
    margin-top: 10px;
    margin-left: 2vw;
    margin-bottom: 2vh;
    border-radius: 10px;

}
.left-title{
    padding: 10px;
     color: rgb(166, 43, 43);
    
}



.bottom-title-container{
    background-color: rgba(255, 255, 255, 0.549);
    display: flexbox;
    background-size: contain;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 2vh;
    border-radius: 10px;
}
.email{
    font-size: 90%;
}
.bottom-title{
    padding: 10px;
    display: flex;
    color:  rgb(166, 43, 43);
}
